.row {
  display: flex;
  padding: 50px;
  align-items: flex-start;
  flex-direction: column;
  overflow-x: scroll;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  &__contain {
    display: flex;
  }
  &__h2 {
    padding-bottom: 20px;
  }
}
